@import url(components.css);


.user-title{
    text-align: center;
    margin-top: 15rem;
    margin-bottom: 2rem;
    color: var(--black);
    font-weight: 700;
    font-size: 3.5rem;
}

.logo {
    height: 90px;
    cursor: pointer;
}

#fav-btn{
    position: relative;
}

#fav-btn span {
    background-color: green;
    color: white;
    font-size: 12px;
    border-radius: 50%;
    position: absolute;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    bottom: 0;
    right: 0;
}

#cart-btn {
    position: relative;
}

#cart-btn span {
    background-color: red;
    color: white;
    font-size: 12px;
    border-radius: 50%;
    position: absolute;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    bottom: 0;
    right: 0;
}


/* Footer */
.logofooter {
    width: 200px;
    padding-right: 75px;
  }

  .margin {
    margin-top: 200px;
    position: fixed;
    right: 0; left: 0; bottom: 0px;
  }

  .footer-paragraph {
    font-size: 1.5rem;
  }

/* End of Footer */


@media (max-width: 991px) {
  .logofooter {
    width: 250px;
    margin-left: 70px;
    }
}


