* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.header1 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
}

.header2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
}

.header3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    font-weight: 800;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
}

.header5 {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #1d1d1d;
}

h6 {
    font-family: 'Roboto', sans-serif;
    color: white;
}

.pdesign {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

/* Navigation */
.navbar {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 900;
    background: white;
    border-bottom: 1px solid;
    border-bottom-color: black;
    box-shadow: 0px 5px  10px rgba(0,0,0,0.3);
    top: 0;
    left: 0;
}

.nav-light .navbar-nav .nav-link{
    padding: 0 20px;
    margin-right: 20px;
    color: #23395d;
    transition: 0.3s ease;
    text-transform: uppercase;
}

.nav-light .navbar-nav .nav-link:hover,
.nav-light .navbar-nav .nav-link.active
{
    color: coral;
}

.navbar i.active, .navbar i:hover {
    color: coral;
}

.navbar i {
    font-size: 2rem;
    padding: 0 7px;
    cursor: pointer;
    transition: 0.3s ease;
}

.cart-counter-container {
    position: relative;
    margin-left: 20px;
}

.cart-counter {
    background-color: red;
    color: white;
    font-size: 12px;
    border-radius: 5px;
    position: absolute;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 20px;
    bottom: 0;
    right: 0;
}

.logo {
    height: 90px;
    cursor: pointer;
}

/*Navigation End */

/* Blog */
a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}


#blog {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 40px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    flex-direction: column;
    margin-top: 150px;
    background:url(background_picture/home-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.blog-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blog-heading span {
    color: red;
}

.blog-heading h3 {
    font-size: 2.4rem;
    color: #2b2b2b;
    font-weight: 600;
}


.blog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}

.blog-box {
    width: 350px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    margin: 20px;
}

.blog-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.blog-text {
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.blog-text span {
    column-rule: #f33c3c;
    font-size: 0.9rem;
}

.blog-text .blog-title {
    font-size: 1.3rem;
    font-weight: 500;
    color: #272727;
    text-decoration: none;
}

.blog-text .blog-title:hover {
    color: #f33c3c;
    transition: all ease 0.3s;
}

.blog-text p {
    color: #9b9b9b;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}

.blog-title a {
    color: #0f0f0f;
}

.blog-text .blog-extension {
    text-decoration: none;
    color: black;
}


.blog-box a:hover {
    color: #f33c3c;
    transition: all ease 0.3s;
}
/* Blog End*/

.logofooter {
    width: 300px;
    padding-right: 75px;
  }


@media (max-width: 991px) {
    .contact {
        margin-top: 100px;
        padding: 50px;
    }

    .container1 {
        flex-direction: column;
    }

    .container .contactinfo {
        margin-bottom: 40px;
        width: 100%;
    }

    .contactform {
        width: 100%;
    }

    .logofooter {
        width: 250px;
        margin-right: 50px;
      }
}

@media(max-width: 1250px) {
    .blog-box {
        width: 300px;
    }
}

@media(max-width: 1100px) {
    .blog-box {
        width: 70%;
    }
}

@media(max-width: 550px) {
    .blog-box {
        width: 100%;
        margin: 20px 10px;
    }

    #blog {
        padding: 20px;
    }
}
