* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header1 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    font-weight: 800;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
}

.header5 {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #1d1d1d;
}

h6 {
    font-family: 'Roboto', sans-serif;
    color: white;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

button {
    font-size: 0.8rem;
    font-weight: 700;
    outline: none;
    border: none;
    background-color: #1d1d1d;
    color: aliceblue;
    padding: 13px 30px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background-color: #3a3833;
}


/* Navigation */
.navbar {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 900;
    background-color: wheat;
    border-bottom: 1px solid;
    border-bottom-color: black;
    box-shadow: 0px 5px  10px rgba(0,0,0,0.3);
}

.nav-light .navbar-nav .nav-link{
    padding: 0 20px;
    margin-right: 20px;
    color: #23395d;
    transition: 0.3s ease;
    text-transform: uppercase;
}

.nav-light .navbar-nav .nav-link:hover,
.nav-light .navbar-nav .nav-link.active
{
    color: #FF6347;
}

.navbar i.active, .navbar i:hover {
    color:white;
}

.navbar i {
    font-size: 2rem;
    padding: 0 7px;
    cursor: pointer;
    transition: 0.3s ease;
}

.cart-counter-container {
    position: relative;
    margin-left: 20px;
}

.cart-counter {
    background-color: red;
    color: white;
    font-size: 12px;
    border-radius: 5px;
    position: absolute;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 20px;
    bottom: 0;
    right: 0;
}

.logo {
    height: 90px;
    cursor: pointer;
}

/*Navigation End */

#home {
    bac
}

#home span {
    color: coral;
}