* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header1 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    font-weight: 800;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
}

.header5 {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #1d1d1d;
}

h6 {
    font-family: 'Roboto', sans-serif;
    color: white;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
}

button {
    font-size: 0.8rem;
    font-weight: 700;
    outline: none;
    border: 1px;
    background-color: orange;
    color: black;
    padding: 13px 30px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    opacity: 0.8;
}




/* Navigation */
.navbar {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 900;
    background: rgba(255,253,208,0.8);
    border-bottom: 1px solid;
    border-bottom-color: black;
    box-shadow: 0px 5px  10px rgba(0,0,0,0.3);
    top: 0;
    left: 0;
}

.nav-light .navbar-nav .nav-link{
    padding: 0 20px;
    margin-right: 20px;
    color: #23395d;
    transition: 0.3s ease;
    text-transform: uppercase;
}

.nav-light .navbar-nav .nav-link:hover,
.nav-light .navbar-nav .nav-link.active
{
    color: coral;
}

.navbar i.active, .navbar i:hover {
    color: coral;
}

.navbar i {
    font-size: 2rem;
    padding: 0 7px;
    cursor: pointer;
    transition: 0.3s ease;
}

.cart-counter-container {
    position: relative;
    margin-left: 20px;
}

.cart-counter {
    background-color: red;
    color: white;
    font-size: 12px;
    border-radius: 5px;
    position: absolute;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 20px;
    bottom: 0;
    right: 0;
}

.logo {
    height: 90px;
    cursor: pointer;
}

/*Navigation End */



/* login */
.h1{
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
}

.body{
    font-family: 'Roboto', sans-serif;
    color: black;
}

.body .h1{
    text-align: center;
    margin: -50px 10px 20px;
}

.body .form-element{
    margin: 10px 0px;
}

.body .form-element label{
    font-size: 16px;
    font-weight: 800;
    padding-top: 10px;
    padding-right: 10px;
}

.body .form-element input[type ="text"],
.body .form-element input[type="password"]{
    margin-top: 3px;
    font-weight: 500;
    width: 150;
    outline: none;
    border: 1px solid black;
    border-radius: 0px;
}

.body .form-element button{

    font-size: 1rem;
    font-weight: 1000;
    outline: none;
    border: 1px;
    background-color: white;
    color: black;
    padding: 13px 36px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s ease;

}

.popup{
    position: absolute;
    top: 290px;
    right: -180px;
    transform: translate(-50%, -50%);
    width: 380px;
    height: 330px;
    padding: 10px 50px;
    background: rgba(255,253,208,0.5);
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.popup .close-button{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: #888;
    color: #eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;

}

/* end of login */